@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
}
/* @media (max-width: 700px) {
  html {
    width: 100%;
    font-size: 75%;
  }
} */
